---
layout: default
---
<tr>
    <td style="text-align: center;">
        <h1>
            {{ page.title }}
        </h1>
        <!--
        <h2>
            {{ page.albumyear }}
        </h2>
        -->
    </td>
</tr>
<tr>
    <td>
        {{ content }}

        {% if page.downloadurl %}
            <div style="text-align: center; font-weight: bold;">
                <a href="{{ page.downloadurl }}">Download a {{ page.downloadbitrate }} copy of the album.</a>
            </div>
        {% endif %}

        <!-- {% include tracklist.html %} -->
        
        {% if page.audiourl %}
            {% include playlist.html %}
            <script src="/assets/js/playlist.js"></script>
        {% endif %}
        
        <div style="text-align: center; font-weight: bold;"><a href="/studio.html">Back to Studio Albums</a></div>
    </td>
</tr>